@import 'globals';

$info-height: 250px;

#info {
  border-top: 8px solid $navy;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  nav {
    margin: 20px 0 0 26px;
    width: 115px;

    .navLink {
      cursor: pointer;
      font-weight: 300;
      margin-bottom: 16px;

      &:hover {
        color: $orange;
      }
    }
  }

  #pertinents {
    display: flex;
    height: $info-height;
    justify-content: flex-start;

    &_wrapper {
      background: $navy;
      border-right: 3px solid $white;
      border-radius: 0 0 0 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 15px 50px;
    }

    & .pertinents__line {
      margin-bottom: 24px;

      a {
        color: $teal;
      }

      &:first-child {
        color: $yellow;
      }

      &:nth-child(2) {
        color: $orange;
      }

      &:last-child {
        color: $teal;
        margin-bottom: 0;
      }

      &__text {
        font-family: $header-stack;
        font-size: 32px;
        font-weight: 300;
        letter-spacing: 1px;
      }

      &__sub {
        color: $off-white;
        font-size: 14px;
        font-weight: 100;
        margin-top: 4px;
      }
    }
  }

  #video {
    border-radius: 0 0 8px 0;
    height: $info-height;
    overflow: hidden;
  }

  .register {
    align-items: center;
    display: flex;
    flex: 2;
    justify-content: center;
    margin: 0 20px;


    &__btn {
      align-items: center;
      background: $yellow;
      color: $navy;
      border-radius: 8px;
      display: flex;
      height: 140px;
      justify-content: center;
      width: 200px;

      &:hover {
        border-color: $teal;
        cursor: pointer;
      }

      &:hover .register__btn__text {
        color: $white;
      }

      &__text {
        font-family: $header-stack;
        font-size: 28px;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 1150px) {

  #info .register {
    margin-top: 60px;

    &__btn {
      height: 100px;
      width: 300px;
    }
  }
}

@media screen and (max-width: 910px) {

  #info {
    justify-content: center;

    & nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;

      & .navLink {
        margin-right: 20px;
      }
    }

    #pertinents_wrapper {
      border-radius: 0 0 8px 8px;
    }
  }

}

@media screen and (max-width: 770px) {

  #info {
    #pertinents {
      height: 80px;
      width: 100%;

      &_wrapper {
        align-items: center;
        border-radius: 0;
        border-right: 0;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        width: 100%;
      }

      & .pertinents__line {
        margin-bottom: 0;

        &__text {
          font-size: 26px;
        }
      }
    }

    #video {
      border-radius: 0;
      height: 100%;
    }

    video {
      width: 100%;
    }
  }
}
