@import 'globals';

$mission-border: 3px solid $teal;

#mission {
  background: $navy;
  border-top: 45px solid $white;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  padding-bottom: 45px;
  width: 100%;

  #whatIsYLC {
    max-width: 700px;
    margin-top: -45px;
    width: 80%;

    .whatIsYLC {

      &_header {
        align-items: center;
        background: $teal;
        border: $mission-border;
        border-radius: 8px 8px 0 0;
        display: flex;
        height: 76px;

        &__text {
          color: $white;
          font-family: $header-stack;
          font-size: 40px;
          margin-left: 20px;
        }
      }

      &_body {
        background: $white;
        border: $mission-border;
        border-radius: 0 0 8px 8px;
        padding: 16px 20px;

        &__text {
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 8px;

          &:last-child {
            font-style: italic;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
