@import 'globals';

$topic-border: 3px solid $orange;
$speaker-border-top: 111px;

#speaker {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  margin-top: 60px;
  width: 100%;

  .topic {
    border: $topic-border;
    border-radius: 8px;
    display: flex;
    font-family: $header-stack;
    height: 76px;
    width: 700px;

    & >div {
      padding: 0 20px;
    }

    &__label {
      align-items: center;
      background: $white;
      border-radius: 8px 0 0 8px;
      display: flex;
      flex: 1;
      justify-content: center;

      &__text {
        color: $orange;
        font-size: 40px;
      }
    }

    &__name {
      align-items: center;
      background: $orange;
      color: $white;
      display: flex;
      flex: 5;
      justify-content: space-between;

      &__text {
        font-size: 40px;
      }

      &__scripture {
        align-self: flex-start;
        margin-top: 30px;
        font-weight: 200;
        /* Safari */
        -webkit-transform: rotate(-90deg);

        /* Firefox */
        -moz-transform: rotate(-90deg);

        /* IE */
        -ms-transform: rotate(-90deg);

        /* Opera */
        -o-transform: rotate(-90deg);
      }
    }
  }

  .speaker {
    background: $navy;
    border-top: $speaker-border-top solid $white;
    display: flex;
    justify-content: center;
    margin: 60px auto;
    padding-bottom: 100px;
    width: 100%;

    .speaker-wrapper {
      display: flex;
      margin-top: -$speaker-border-top;
      width: 92%;
      max-width: 700px;
    }

    &__img {
      display: flex;
      justify-content: flex-start;

      &__stripes {
        background: url("../assets/verticalStripes.png") repeat-y;
        height: 222px;
        width: 65px;
      }

      img {

      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      margin: 50px 0 0 50px;
    }

    &__header {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;

      &__label {
        font-size: 12px;
        font-style: italic;
        font-weight: 100;
        margin-bottom: 8px;
        text-transform: uppercase;
      }

      &__text {
        font-size: 24px;
      }
    }

    &__profile {

      &__text {
        color: $white;
        line-height: 24px;
      }
    }
  }
}
