$header-stack: 'Oswald', Arial, sans-serif;
$font-stack: 'Roboto', Arial, sans-serif;

$white: #fff;
$black: #000;
$red: #ff0000;
$green: #2ab236;
$orange: #E47046;
$teal: #26AB8A;
$yellow: #FDC34D;
$navy: #00164D;
$grey: #666666;
$grey-mid: #808080;
$grey-dark: #4D4D4D;
$off-white: #E6E6E6;
